
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif !important;
}
.tab {
    display: inline-block;
    margin-left: 45px;
}
.tab2 {
    display: inline-block;
    margin-left: 80px;
}
.tab3 {
    display: inline-block;
    margin-left: 90px;
}
 hr.hrCororDeep{
    border: 3px solid rgba(5, 2, 2, 0.979);
}

.w-60{
    width: 60% !important;
}